.icheck-primary{
    display: none;
}


.corTexto{
    color: #c2c7d0 !important;
}

.home .position{
    width: 100% !important;
}

.home .btn-ajust{
    width: 100% !important;
}

.home .btn-clientes{
    background-color: #c7c7c7c7 !important;
    color: #000;

    transition: filter 0.2s !important;
}

.home .btn-clientes:hover{
    color: #000;
    filter: brightness(0.8) !important;
}

.home .btn-size{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}