.icheck-primary{
    display: none !important;
}

.card-footer{
    background-color: #fff;
}


.lista-clientes .corTexto{
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.lista-clientes .btn-primary{
    border-radius: 0px 11px 11px 0px;
    margin-left: -1rem;
}

.lista-clientes .corTexto:hover {
    color: #0056b3;
    text-decoration: none;
}

.home .position{
    width: 100% !important;
}

.home .btn-ajust{
    width: 100% !important;
}

.home .btn-clientes{
    background-color: #c7c7c7c7 !important;
    color: #000;

    transition: filter 0.2s !important;
}

.home .btn-clientes:hover{
    color: #000;
    filter: brightness(0.8) !important;
}

.home .btn-size{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.home .user-block{
    margin-left: -3rem !important;
}

.home .d-flex{
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.ajust-carrousel{
    display: flex !important;
    justify-content: center !important;
}

.home .fa-bed{
    margin-right: -0.5rem;
}

.home .fa-car{
    margin-right: -0.25rem;
}

.home .valorTotal{
    width: 100%;
}

.home .user-block .description{
    font-size: 16px !important;
}

.home .clienteCard{
    margin-left: 0.6rem;
    margin-right:2rem;
}

 .home .home-card-alugado{
    border: 1px solid red !important;
}

.home .carousel-item img{
    width: 10rem;
    max-height: 7rem;
}

.home a{
    text-decoration: none;
    color: #000;
}

.imovel .descricao-imovel{
    font-size: 1.5rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.imovel .card-rounded{
    border-radius: 15px;
}

.imovel .align-icons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.imovel .align-row{
    margin-left: 0.2rem !important;
}

.imovel .align-description{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

hr.solid {
    border-top: 2px solid #bbb;
  }

.dashed {
border-top: 2px dashed #bbb;
}

.imovel .imovel-description{
    margin-bottom: 0rem !important;
}

.imovel .carousel-item img,
.imovel .imovel-setsize{
    width: 52rem !important;
    height: 32rem !important;
}



.imovel .imovel-btn-print{
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
}

.locacao-cadastro .carousel-item img{
    max-height: 7rem;
}

.locacao-cadastro a{
    text-decoration: none;
    color: #000;
}

.venda-cadastro .carousel-item img{
    max-height: 7rem;
}

.venda-cadastro a{
    text-decoration: none;
    color: #000;
}

.docImprimir{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imprimir input{
    border: 0;
    outline: none;
    height: 2.0625rem;
    width: 16rem;
}


.imprimir .alinhamento-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imprimir .alinhamento-texto{
margin-left: 15%;
margin-right: 15%;
text-align: justify;
}

.imprimir .alinhamento-data{
    float: right;
}

.contrato-card{
border-radius: 5px;
border: 2px solid black;
padding: 1rem;
}


@media only screen and (max-width:993px){
    .imovel .hide{
        display: none !important;
    }
}

@media print{
    .hide-print{
        display:none;
    }
}